version: '3'
services:
  {{ homeassistant_service }}:
    container_name: {{ homeassistant_service }}
    image: "lscr.io/linuxserver/homeassistant:latest"
    volumes:
      - {{ config_dir }}/{{ dc_container }}/{{ homeassistant_service }}:/config
      - /etc/localtime:/etc/localtime:ro
    restart: unless-stopped
    privileged: true
    network_mode: host
    environment:
      - TZ={{ time_zone }}
    